<div class="home">
  <div class="home__section">
    <div class="home__section-title">Set user type</div>
    <div class="hr"></div>
    <button
      type="button"
      class="btn btn-primary-reversed"
      (click)="onSetUserClick(userRoles.SUPER_ADMIN)"
    >
      SuperAdmin
    </button>
    <button
      type="button"
      class="btn btn-primary-reversed"
      (click)="onSetUserClick(userRoles.ADMIN)"
    >
      Admin
    </button>
    <button
      type="button"
      class="btn btn-primary-reversed"
      (click)="onSetUserClick(userRoles.REGULAR)"
    >
      Regular
    </button>
  </div>

  <div class="home__section">
    <div class="home__section-title">*ifAuthorized</div>
    <div class="hr"></div>
    <div style="display: flex;">
      <div class="group">
        <div class="label">SuperAdmin:</div>
        <button
          type="button"
          class="btn btn-primary-reversed"
          *ifAuthorized="getChildFeature('HOME__SUPER_ADMIN_BTN')"
        >
          SuperAdmin
        </button>
      </div>
      <div class="group">
        <div class="label">Admin:</div>
        <button
          type="button"
          class="btn btn-primary-reversed"
          *ifAuthorized="getChildFeature('HOME__ADMIN_BTN')"
        >
          Admin
        </button>
      </div>
      <div class="group">
        <div class="label">Regular:</div>
        <button
          type="button"
          class="btn btn-primary-reversed"
          *ifAuthorized="getChildFeature('HOME__REGULAR_BTN')"
        >
          Regular
        </button>
      </div>
    </div>
  </div>

  <div class="home__section">
    <div class="home__section-title">hideUnauthorized</div>
    <div class="hr"></div>
    <div style="display: flex;">
      <div class="group">
        <div class="label">SuperAdmin:</div>
        <button
          type="button"
          class="btn btn-primary-reversed"
          [hideUnauthorized]="getChildFeature('HOME__SUPER_ADMIN_BTN')"
        >
          SuperAdmin
        </button>
      </div>
      <div class="group">
        <div class="label">Admin:</div>
        <button
          type="button"
          class="btn btn-primary-reversed"
          [hideUnauthorized]="getChildFeature('HOME__ADMIN_BTN')"
        >
          Admin
        </button>
      </div>
      <div class="group">
        <div class="label">Regular:</div>
        <button
          type="button"
          class="btn btn-primary-reversed"
          [hideUnauthorized]="getChildFeature('HOME__REGULAR_BTN')"
        >
          Regular
        </button>
      </div>
    </div>
  </div>

  <div class="home__section">
    <div class="home__section-title">disableUnauthorized</div>
    <div class="hr"></div>
    <button
      type="button"
      class="btn btn-primary-reversed"
      [disableUnauthorized]="getChildFeature('HOME__SUPER_ADMIN_BTN')"
    >
      SuperAdmin
    </button>
    <button
      type="button"
      class="btn btn-primary-reversed"
      [disableUnauthorized]="getChildFeature('HOME__ADMIN_BTN')"
    >
      Admin
    </button>
    <button
      type="button"
      class="btn btn-primary-reversed"
      [disableUnauthorized]="getChildFeature('HOME__REGULAR_BTN')"
    >
      Regular
    </button>
  </div>
  <button
    type="button"
    class="btn btn-primary-reversed"
    (click)="on401ResponseClick()"
  >
    401 Response
  </button>
  <a
    class="d-block"
    [routerLink]="['admin-panel']"
    >
    Go to Admin Panel ->
  </a>
</div>
