.home {
  padding: 0 60px;
}

.home__section {
  padding: 30px 0;
}

.home__section-title {
  font-size: 1.76rem;
  color: #fff;
}

.hr {
  margin: 5px 0 10px 0;
  height: 1px;
  background-color: rgba(255,255,255,.07);
}

.group {
  margin: 0 5px;
  button { margin: 5px 0; }
}

.label {
  color: #fff;
}

button { margin: 5px; }

a {
  padding: 10px 0;
}
