<div class="login-form">
  <form [formGroup]="loginForm" (submit)="onFormSubmit($event)">
    <label>
      Username
      <input type="text" name="username" formControlName="username">
    </label>
    <label>
      Password
      <input type="password" name="password" formControlName="password">
    </label>
    <button
      type="submit"
      name="login"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</div>
