:host {
  display: block;
  width: 100%;
  height: 100%;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.auth__panel-wrapper {
  width: 17.5%;
  max-width: 450px;
}

.auth__panel {
  padding: 30px;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 2px;
}
