.nav-item,
.nav-item__child {
  display: block;
  text-decoration: none;
  color: #FF5D03;
  cursor: pointer;
  .nav-item__name {
    padding: 15px;
    &:hover {
      background-color: rgba(255,255,255,.08);
    }
  }
}

.nav-item__children-container {
  padding-top: 10px;
}

.nav-item__child {
  margin-left: 10px;
}
