<a
  class="nav-item"
>
  <div class="nav-item__name">
    {{navItem.displayName}}
  </div>
  <div
    class="nav-item__children-container"
    *ngIf="navItem.type === 'group'"
  >
    <a
      class="nav-item__child"
      *ngFor="let child of navItem.children | ifAuthorized"
    >
      <div class="nav-item__name">
        {{child.displayName}}
      </div>
    </a>
  </div>
</a>
