<div class="left-nav" *ngIf="authorized$ | async">
  <div class="left-nav__title">
    RBA/RBAC Demo
  </div>
  <app-left-nav-item
    *ngFor="let navItem of navItems | ifAuthorized"
    [navItem]="navItem"
  >
  </app-left-nav-item>
</div>
