:host {
  display: block;
}

.top-nav {
  position: relative;
  padding: 6px 10px;
}

nav {
  width: inherit;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1B1B1B;
  color: #fff;
}

.top-nav__item {
  margin: 0 5px;
}
