<div class="top-nav" *ngIf="authorized$ | async">
  <nav>
    <div class="top-nav__item">
      <span *ngIf="user$ | async as user">
        User: {{ user.data.username }}
      </span>
    </div>
    <div class="top-nav__item">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onLogoutClick()"
      >
        Logout
      </button>
    </div>
  </nav>
</div>
