* { box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #1B1B1B;
  font-family: Lato-Regular, sans-serif;
  font-size: 12px;
}

a {
  color: #fff;
  &:visited { color: #fff; };
}

// GENERAL

.hidden { display: none; }

[disabled] { opacity: .46; }

.d-flex { display:flex; }

.d-block { display: block; }

// FONTS

@font-face {
  font-family: "Lato-Regular";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("ttf");
}

// BUTTONS

.btn {
  padding: 7px;
  margin: 0;
  border: none;
  outline: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.btn-primary {
  background-color: #FF5D03;
}

.btn-primary-reversed {
  border: 1px solid #FF5D03;
  border-radius: 2px;
  color: #FF5D03;
  background-color: transparent;
}

// FORMS

input {
  padding: 12px 10px;
  margin: 7px 0 14px 0;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 2px;
  font-size: 14px;
  outline: none;
  background-color: transparent;
  color: #fff;
}
