<app-shell>
  <div class="app">
    <div class="app__left-col">
      <app-left-nav></app-left-nav>
    </div>
    <div class="app__mid-col">
      <app-top-nav></app-top-nav>
      <div class="app__view-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-shell>
